{% extends '::base.html.twig' %}

{% block title 'Yay Twiiiiiiig!' %}

{% block body %}
    {%  for i in 1..10 %}
    Hello <strong>{{ name|upper }}</strong> # {{ count }}!
    {% endfor %}

    <h2>Event Details</h2>
    {{ event.name }}<br>
    {{ event.location }}<br>
    {{ event.details }}

{% endblock %}